<div><table class="default" border="1px solid black" >

    <tr>
    <th>Nombre</th>
    <th>Precio</th>
    <th>Imagen</th>
    </tr>
        <tr>
            <td> ${productos.title} </td>
            <td> ${productos.price} </td>
            <td> <img src="${productos.thumbnail}"</td>
        </tr>
    </table></div>